html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


header {
    
    font-family:Lucida Handwriting ;
    background-color: rgb(59, 61, 63);
    color:crimson;
  }
  
  .main-heading{
    max-width: 800px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: auto;
    
  }
  
  
  .main-heading h1{
    font-size: 30px;
    
  }

  





h2 {
    color:crimson;
    text-align: center
}

body{
    
    font-family:sans-serif; /* font */
    background-image:url("https://wallpaperset.com/w/full/3/8/3/375411.jpg");/*backround image*/
    background-repeat: no-repeat;
    background-size: cover;
}

.btn { /*button class*/
    
    flex-direction: row;
    background-color: #fff;
    padding: 16px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.btn:hover{ /*changes hover actions*/
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}