html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
h1 {
    color:crimson;
    text-align: center
}
h2 {
    color:crimson;
    text-align: center
}

body{
    
    font-family:sans-serif; /* font */
    background-image:url("https://wallpaperset.com/w/full/3/8/3/375411.jpg");/*backround image*/
    background-repeat: no-repeat;
    background-size: cover;
}

.btn { /*button class*/
    
    flex-direction: row;
    background-color: #fff;
    padding: 16px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.btn:hover{ /*changes hover actions*/
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
